.calendar {
  width: var(--full);
  display: flex;
}

.calendar .calendarContainer {
  flex: 10;
  background-color: var(--light);
}

.calendar .calendarContainer .container {
  padding: var(--twenty);
}