.chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,.47);
  box-shadow: 2px 4px 10px 1px rgba(201,201,201,.47);
  padding: var(--ten);
  color: var(--gray);
  background-color: var(--white);
}

.chart .title {
  margin-bottom: var(--twenty);
}

.chart .chartGrid {
  stroke: var(--lightgray);
}