.datatable {
  height: 500px;
  padding: var(--twenty);
}

.datatable .Datatable {
  background-color: var(--white);
}

.datatable .contHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datatable .contHead .userTitle {
  margin-bottom: var(--ten);
}

.datatable .contHead .new {
  width: var(--fifty);
  display: flex;
  justify-content: center;
  background: var(--blue);
  background: linear-gradient(90deg, var(--blue) 0%, var(--lightblue) 100%);
  border: none;
  outline: none;
  color: var(--white);
  padding: var(--five);
  border-radius: var(--five);
  cursor: pointer;
}

.datatable span {
  color: var(--white);
  padding: 2px var(--five);
}

.datatable span.online, .datatable span.active {
  color: var(--green);
  background-color: rgb(0,128,0,.15);
}

.datatable span.offline {
  color: var(--crimson);
  background-color: rgb(220,20,60,.15);
}

.datatable .cellAction {
  display: flex;
  align-items: center;
  gap: 15px;
}

.datatable .cellAction .seeButton {
  padding: 2px var(--five);
  border-radius: var(--five);
  color: var(--gray);
  border: var(--one) solid rgba(169, 169, 169, 0.487);
  background-color: rgb(169, 169, 169, .15);
  cursor: pointer;
}

.datatable .cellAction .updateButton {
  padding: 2px var(--five);
  border-radius: var(--five);
  color: var(--darkblue);
  border: var(--one) solid rgba(0, 0, 139, 0.487);
  background-color: rgb(0, 0, 139, .15);
  cursor: pointer;
}

.datatable .cellAction .deleteButton {
  padding: 2px var(--five);
  border-radius: var(--five);
  color: var(--crimson);
  border: var(--one) solid rgba(220, 20, 60, 0.487);
  background-color: rgb(220,20,60,.15);
  cursor: pointer;
}