.container {
  width: var(--full);
  height: 100vh;
}

.dropdown {
  width: var(--full);
  user-select: var(--none);
  margin: var(--hundred) auto;
  position: relative;
}

.dropdown .dropdown-btn {
  padding: 15px 20px;
  background: var(--white);
  box-shadow: var(--three) var(--three) var(--ten) 6px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.dropdown .dropdown-content {
  position: absolute;
  top: var(--full);
  left: var(--zero);
  padding: var(--ten);
  background: var(--white);
  box-shadow: var(--three) var(--three) var(--ten) 6px rgba(0, 0, 0, 0.06);
  width: var(--full);
}

.dropdown .dropdown-content .dropdown-item {
  padding: var(--ten);
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background: var(--blue);
  color:var(--white)
}