form {
  text-align: center;
}

.regForm {
  padding: var(--ten);
  width: var(--full);
  border: var(--one) solid rgba(0, 0, 0, 0.25);
  border-radius: var(--two);
  margin: var(--three);
}

.regForm:nth-child(2) {
  margin-top: calc(var(--twenty) + var(--five));
}

.regForm:nth-last-child(1) {
  margin-top: calc(var(--twenty) + var(--five));
}

.regForm[type=button] {
  background: var(--blue);
  background: linear-gradient(90deg, var(--blue) var(--zero), var(--lightblue) var(--full));
  color: var(--white);
  border: var(--none);
  outline: var(--none);
}