.home {
  display: flex;
  background-color: var(--light);
}

.home .homeContainer {
  flex: 10;
}

.home .homeContainer .widgets, .home .homeContainer  .charts {
  display: flex;
  padding: calc(var(--ten) + var(--five)) calc(var(--twenty) + var(--five));
  gap: var(--twenty);
}

.home .homeContainer .charts {
  padding: var(--five) var(--twenty);
}

.home .homeContainer .listContainer {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,.47);
  box-shadow: 2px 4px 10px 1px rgba(201,201,201,.47);
  padding: var(--twenty);
  margin: var(--twenty);
  background-color: var(--white);
}

.home .homeContainer .listContainer .listTitle {
  font-weight: 500;
  color: var(--gray);
  margin-bottom: calc(var(--ten) + var(--five));
}