.navbar {
  height: calc(var(--fifty) + var(--ten) + var(--five));
  display: flex;
  align-items: center;
  border-bottom: .5px solid rgba(0, 0, 0, .25);
  background: var(--blue);
  background: linear-gradient(90deg, var(--blue) var(--zero), var(--lightblue) var(--full));
}

.navbar .wrapper {
  width: var(--full);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--twenty);
}

.navbar .wrapper .icon {
  cursor: pointer;
}

.navbar .wrapper .search {
  display: flex;
  align-items: center;
  border: .5px solid var(--lightgray);
  background-color: var(--white);
  padding: 0 5px 0 0;
  border-radius: calc(var(--twenty) + var(--five));
}

.navbar .wrapper .search input {
  border: var(--none);
  outline: var(--none);
  padding: var(--five) calc(var(--ten) + var(--five));
  border-radius: 25px 0 0 25px;
  border-right: var(--one) solid var(--lightgray);
}

.navbar .wrapper .search .icon:hover {
  color: var(--lightblue);
  transition: 500ms;
}

.navbar .wrapper .items {
  display: flex;
}

.navbar .wrapper .items .item {
  color: var(--white);
  display: flex;
  align-items: center;
  margin-right: calc(var(--ten) + var(--five));
  cursor: pointer;
  position: relative;
}

.navbar .wrapper .items .item .icon {
  color: var(--white);
}

.navbar .wrapper .items .item .name {
  margin-right: var(--ten);
}

.navbar .wrapper .items .item .avatar {
  width: calc(var(--twenty) + var(--twenty));
  height: calc(var(--twenty) + var(--twenty));
  border-radius: 50px;
}

.navbar .wrapper .items .item .counter {
  width: calc(var(--ten) + var(--five));
  height: calc(var(--ten) + var(--five));
  background-color: var(--red);
  border-radius: var(--half);
  position: absolute;
  top: var(--five);
  right: -5px;
}