.navbar {
  height: 65px;
  display: flex;
  align-items: center;
  border-bottom: .5px solid rgba(0, 0, 0, .25);
  background: rgb(64,84,178);
  background: linear-gradient(90deg, rgba(64,84,178,1) 0%, rgba(84,150,221,1) 100%);
}

.navbar .wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.navbar .wrapper .icon {
  cursor: pointer;
}

.navbar .wrapper .search {
  display: flex;
  align-items: center;
  border: .5px solid lightgray;
  background-color: white;
  padding: 0 5px 0 0;
  border-radius: 25px;
}

.navbar .wrapper .search input {
  border: none;
  outline: none;
  padding: 5px 15px;
  border-radius: 25px 0 0 25px;
  border-right: 1px solid lightgray;
}

.navbar .wrapper .search .icon:hover {
  color: #5496DD;
  transition: 500ms;
}

.navbar .wrapper .items {
  display: flex;
}

.navbar .wrapper .items .item {
  color: white;
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.navbar .wrapper .items .item .icon {
  color: white;
}

.navbar .wrapper .items .item .name {
  margin-right: 10px;
}

.navbar .wrapper .items .item .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.navbar .wrapper .items .item .counter {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: -5px;
}