.payroll {
  width: 100%;
  display: flex;

  .payrollContainer {
    flex: 10;
    background-color: whitesmoke;

    .container {
      padding: 10px 20px;

      span {
        color: white;
        padding: 2px 5px;
        &.active {
          color: green;
          background-color: rgb(0,128,0,.15);
        }
    
        &.retired {
          color: crimson;
          background-color: rgb(220,20,60,.15);
        }
      }
    }
  }
}