.payroll {
  width: var(--full);
  display: flex;
}

.payroll .payrollContainer {
  flex: 10;
  background-color: var(--light);
}

.payroll .payrollContainer .container span {
  color: var(--white);
  padding: var(--two) var(--five);
}

.payroll .payrollContainer .container span.active {
  color: var(--green);
  background-color: rgb(0,128,0,.15);
}

.payroll .payrollContainer .container span.retired {
  color: var(--crimson);
  background-color: rgb(220,20,60,.15);
}