.profile {
  display: flex;
  width: var(--full);
}

.profile .profileContainer {
  flex: 10;
  background-color: var(--light);
}

.profile .title {
  font-size: 16px;
  color: var(--lightgray);
  margin-bottom: var(--twenty);
}

.profile .profileContainer .top {
  padding: var(--twenty);
  display: flex;
  gap: var(--twenty);
}

.profile .profileContainer .top .left {
  flex: 1;
  -webkit-box-shadow: 2px 4px var(--ten) 1px rgba(0, 0, 0, .47);
  box-shadow: 2px 4px var(--ten) 1px rgba(0, 0, 0, .47);
  padding: var(--twenty);
  position: relative;
  background-color: var(--white);
}

.profile .profileContainer .top .left .edit {
  position: absolute;
  top: var(--zero);
  right: var(--zero);
  padding: var(--five) var(--ten);
  font-size: 12px;
  background-color: var(--darkblue);
  color: var(--light);
  cursor: pointer;
}

.profile .profileContainer .top .left .item {
  display: flex;
  align-items: center;
  gap: var(--twenty);  
}

.profile .profileContainer .top .left .item .imgItem {
  width: var(--hundred);
  height: var(--hundred);
  border-radius: var(--half);
  object-fit: cover;
}

.profile .profileContainer .top .left .item .details .itemTitle { color: #555; }
.profile .profileContainer .top .left .item .details .a { margin-bottom: var(--twenty); }

.profile .profileContainer .top .left .item .details .detailItem {
  margin-bottom: var(--ten);
  font-size: 14px; 
}

.profile .profileContainer .top .left .item .details .detailItem .itemKey {
  font-weight: bold;
  color: var(--gray);
  margin-right: var(--five);
}

.profile .profileContainer .top .left .item .details .detailItem .itemValue { font-weight: 300; }

.profile .profileContainer .top .right {
  width: var(--full);
  height: calc(var(--hundred) + var(--hundred));
  flex: 2;
  -webkit-box-shadow: 2px 4px var(--ten) 1px rgba(0, 0, 0, .47);
  box-shadow: 2px 4px var(--ten) 1px rgba(0, 0, 0, .47);
  padding: var(--twenty);
  background-color: var(--white);
}