.profile {
  display: flex;
  width: 100%;
}

.profile .profileContainer {
  flex: 10;
  background-color: whitesmoke;
}

.profile .title {
  font-size: 16px;
  color: lightgray;
  margin-bottom: 20px;
}

.profile .profileContainer .top {
  padding: 20px;
  display: flex;
  gap: 20px;
}

.profile .profileContainer .top .left {
  flex: 1;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, .47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, .47);
  padding: 20px;
  position: relative;
  background-color: white;
}

.profile .profileContainer .top .left .edit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  font-size: 12px;
  background-color: #b131b52c;
  color: #B131B5;
  cursor: pointer;
}

.profile .profileContainer .top .left .item {
  display: flex;
  align-items: center;
  gap: 20px;  
}

.profile .profileContainer .top .left .item .imgItem {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile .profileContainer .top .left .item .details .itemTitle {
  color: #555;
}

.profile .profileContainer .top .left .item .details .a {
  margin-bottom: 20px;
}

.profile .profileContainer .top .left .item .details .detailItem {
  margin-bottom: 10px;
  font-size: 14px; 
}

.profile .profileContainer .top .left .item .details .detailItem .itemKey {
  font-weight: bold;
  color: gray;
  margin-right: 5px;
}

.profile .profileContainer .top .left .item .details .detailItem .itemValue {
  font-weight: 300;
}

.profile .profileContainer .top .right {
  width: 100%;
  height: 200px;
  flex: 2;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, .47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, .47);
  padding: 20px;
  background-color: white;
}