.scheduler {
  margin-top: var(--ten);
  background-color: var(--white);
  padding: calc(var(--ten) + var(--five));
  -webkit-box-shadow: var(--two) 4px var(--ten) var(--one) rgba(0,0,0,.47);
  box-shadow: var(--two) 4px var(--ten) var(--one) rgba(201,201,201,.47);
  border-radius: var(--ten);
}