.sidebar {
  flex: 2;
  min-height: 100vh;
  background-color: var(--white);  
}

.sidebar .top {
  background-color: var(--white);
  height: 65px;
  margin: 5px 0 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .top .logo {
  display: flex;
  padding: 0px 5px;
}

.sidebar .top .logo .LogoAmigo {
  height: var(--fifty);
  border-radius: var(--two);
}

.sidebar .middle {
  margin: auto;
  width: var(--ninety);
  height: var(--one);
  opacity: .3;
  background-color: var(--darkgray);
}

.sidebar .sidebar-item {
  padding: calc(var(--ten) + var(--five));
  color: var(--darkblue);
  display: block;
  cursor: pointer;
}

.sidebar .sidebar-item .sidebar-title, .sidebar-item .sidebar-title span {
  display: flex;
  justify-content: space-between;
}

.sidebar .sidebar-item .sidebar-title span .icon { margin-right: var(--ten); }
.sidebar .sidebar-item .toggle { transition: .5s; }
.sidebar .sidebar-item.open .toggle { transform: rotate(180deg); }

.sidebar .sidebar-item:hover, .sidebar .sidebar-item.open {
  background: linear-gradient(90deg, var(--blue) var(--zero), var(--lightblue) var(--full));
  transition: .5s;
  color: var(--white);
}

.sidebar .sidebar-content {
  padding-left: var(--ten);
  height: 0;
  overflow: hidden;
  transition: .5s;
}

.sidebar-item.open .sidebar-content { height: auto; }
.sidebar-item.open .sidebar-content .sidebar-item { color: var(--white); }
.sidebar .link:active, .sidebar .link:hover, .sidebar .link { color: var(--white); }
.sidebar .link { text-decoration: var(--none); }
.sidebar .link { color: var(--darkblue); }

/* Theme Palette Menu */
.sidebar .bottom {
  width: var(--full);
  background: var(--blue);
  background: linear-gradient(90deg, var(--blue) var(--zero), var(--lightblue) var(--full));
  position: fixed;
  bottom: var(--zero);
  left: var(--zero);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--ten);
  z-index: 10000;
}

.sidebar .bottom span {
  margin-right: var(--ten);
  color: var(--white);
}

.sidebar .bottom .colorOption {
  width: var(--twenty);
  height: var(--twenty);
  border-radius: var(--five);
  border: var(--one) solid var(--darkblue);
  margin: var(--five);
  cursor: pointer;
}

.sidebar .bottom .colorOption:nth-child(2) { background-color: var(--light); }
.sidebar .bottom .colorOption:nth-child(3) { background-color: var(--darkblue); }
.sidebar .bottom .colorOption:nth-child(4) { background-color: var(--darkgray); }
.sidebar .bottom.hide { animation: fadeOut 1s; }
.sidebar .bottom.show { animation: fadeIn 1s; }
.sidebar .bottom.none { display: var(--none); }

@keyframes fadeIn {
  0%   { bottom: -150px; }
  100% { bottom: var(--zero); }
}
@keyframes fadeOut {
  0%   { bottom: var(--zero); }
  100% { bottom: -150px; }
}
/* Theme Palette Menu */