.sidebar {
  flex: 2;
  min-height: 100vh;
  background-color: white;  
}

.sidebar .top {
  background-color: #4054B2;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: .5px solid rgba(0, 0, 0, .25);
}

.sidebar .top .logo {
  display: flex;
  padding: 0px 5px;
}

.sidebar .top .logo .LogoAmigo {
  height: 50px;
  border-radius: 2px;
}

.sidebar .center { margin-top: 10px; }
.sidebar .center ul { list-style-type: none; }

.sidebar .center ul .link {
  text-decoration: none;
  color: #000000;
}

.sidebar .center ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebar .center ul li span { margin-left: 10px; }
.sidebar .center ul li .icon { color: #5496DD; }
.sidebar .center ul li:nth-child(1), .sidebar .center ul li:nth-last-child(1) { margin: 0; }
.sidebar .center ul li:hover .icon { color: white; }

.sidebar .center ul li:hover {
  background: rgb(64,84,178);
  background: linear-gradient(90deg, rgba(64,84,178,1) 0%, rgba(84,150,221,1) 100%);
  color: white;
  transition: 500ms;
}

.sidebar .bottom {
  width: 100%;
  background-color: #4054B2;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  z-index: 10000;
}

.sidebar .bottom span {
  margin-right: 10px;
  color: white;
}

.sidebar .bottom .colorOption {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #4054B2;
  margin: 5px;
  cursor: pointer;
}

.sidebar .bottom .colorOption:nth-child(2) { background-color: whitesmoke; }
.sidebar .bottom .colorOption:nth-child(3) { background-color: darkblue; }
.sidebar .bottom .colorOption:nth-child(4) { background-color: #333; }
.sidebar .bottom.hide { animation: fadeOut 1s; }
.sidebar .bottom.show { animation: fadeIn 1s; }
.sidebar .bottom.none { display: none; }

@keyframes fadeIn {
  0%   { bottom: -150px; }
  100% { bottom: 0; }
}
@keyframes fadeOut {
  0%   { bottom: 0px; }
  100% { bottom: -150px; }
}