.sidebar {
  flex: 2;
  min-height: 100vh;
  background-color: var(--white);  
}

.sidebar .top {
  background-color: var(--white);
  height: 65px;
  margin: 5px 0 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .top .logo {
  display: flex;
  padding: 0px 5px;
}

.sidebar .top .logo .LogoAmigo {
  height: var(--fifty);
  border-radius: var(--two);
}

.sidebar .middle {
  margin: auto;
  width: var(--tquarter);
  height: var(--one);
  opacity: .3;
  background-color: var(--darkgray);
}

.sidebar .center { margin-top: var(--ten); }
.sidebar .center ul { list-style-type: var(--none); }

.sidebar .center ul .link {
  text-decoration: var(--none);
  color: var(--black);
}

.sidebar .center ul li {
  display: flex;
  align-items: center;
  padding: var(--ten);
  cursor: pointer;
}

.sidebar .center ul li span { margin-left: var(--ten); }
.sidebar .center ul li .icon { color: var(--darkblue); }
.sidebar .center ul li:nth-child(1), .sidebar .center ul li:nth-last-child(1) { margin: var(--zero); }
.sidebar .center ul li:hover .icon { color: var(--white); }

.sidebar .center ul li:hover {
  background: var(--blue);
  background: linear-gradient(90deg, var(--blue) var(--zero), var(--lightblue) var(--full));
  color: var(--white);
  transition: 500ms;
}

.sidebar .bottom {
  width: var(--full);
  background: var(--blue);
  background: linear-gradient(90deg, var(--blue) var(--zero), var(--lightblue) var(--full));
  position: fixed;
  bottom: var(--zero);
  left: var(--zero);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--ten);
  z-index: 10000;
}

.sidebar .bottom span {
  margin-right: var(--ten);
  color: var(--white);
}

.sidebar .bottom .colorOption {
  width: var(--twenty);
  height: var(--twenty);
  border-radius: var(--five);
  border: var(--one) solid var(--darkblue);
  margin: var(--five);
  cursor: pointer;
}

.sidebar .bottom .colorOption:nth-child(2) { background-color: var(--light); }
.sidebar .bottom .colorOption:nth-child(3) { background-color: var(--darkblue); }
.sidebar .bottom .colorOption:nth-child(4) { background-color: var(--darkgray); }
.sidebar .bottom.hide { animation: fadeOut 1s; }
.sidebar .bottom.show { animation: fadeIn 1s; }
.sidebar .bottom.none { display: var(--none); }

@keyframes fadeIn {
  0%   { bottom: -150px; }
  100% { bottom: var(--zero); }
}
@keyframes fadeOut {
  0%   { bottom: var(--zero); }
  100% { bottom: -150px; }
}