.single {
  display: flex;
  width: var(--full);  
}

.single .singleContainer {
  flex: 10;
  background-color: var(--light);
}

.single .singleContainer .top {
  padding: var(--twenty);
  display: flex;
  gap: var(--twenty);
}

.single .singleContainer .top .left {
  flex: 1;
  -webkit-box-shadow: var(--two) 4px var(--ten) var(--one) rgba(0, 0, 0, .47);
  box-shadow: var(--two) 4px var(--ten) var(--one) rgba(0, 0, 0, .47);
  padding: var(--twenty);
  position: relative;
  background-color: var(--white);
}

.single .singleContainer .top .left .item {
  display: flex;
  align-items: center;
  gap: var(--twenty);  
}

.single .singleContainer .top .left .item .imgItem {
  width: var(--hundred);
  height: var(--hundred);
  border-radius: var(--half);
  object-fit: cover;
}

.single .singleContainer .top .left .item .details .itemTitle { color: #555; }
.single .singleContainer .top .left .item .details .a { margin-bottom: var(--twenty); }

.single .singleContainer .top .left .item .details .detailItem {
  margin-bottom: var(--ten);
  font-size: 14px;
}

.single .singleContainer .top .left .item .details .detailItem .itemKey {
  font-weight: bold;
  color: var(--gray);
  margin-right: var(--five);
}

.single .singleContainer .top .left .item .details .detailItem .itemValue { font-weight: 300; }

.single .singleContainer .top .right {
  width: var(--full);
  height: calc(var(--hundred) + var(--hundred));
  flex: 2;
  -webkit-box-shadow: var(--two) 4px var(--ten) var(--one) rgba(0, 0, 0, .47);
  box-shadow: var(--two) 4px var(--ten) var(--one) rgba(0, 0, 0, .47);
  padding: var(--twenty);
  background-color: var(--white);
}

.single .title {
  font-size: 16px;
  color: var(--lightgray);
  margin-bottom: var(--twenty);
}