.table .status {
  padding: var(--two) var(--five);
  border-radius: var(--three);
  color: var(--white);
}

.table .status.approved { color: var(--green);     background-color: rgb(0,128,0,.15); }
.table .status.pending  { color: var(--goldenrod); background-color: rgb(218,165,32,.15); }
.table .status.denied   { color: var(--crimson);   background-color: rgb(220,20,60,.15); }