.table {
  .status {
    padding: 2px 5px;
    border-radius: 3px;
    color: white;
    
    &.approved { color: green;     background-color: rgb(0,128,0,.15); }
    &.pending  { color: goldenrod; background-color: rgb(218,165,32,.15); }
    &.denied   { color: crimson;   background-color: rgb(220,20,60,.15); }
  }
}