.widget {
  border-top: 3px solid #5496DD;
  border-bottom: 3px solid #5496DD;
  display: flex;
  flex: 1;
  padding: 10px;
  justify-content: space-between;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,.47);
  box-shadow: 2px 4px 10px 1px rgba(201,201,201,.47);
  border-radius: 10px;
  height: 150px;
  background-color: white;

  .left, .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 17px;
      color: gray;
    }

    .counter {
      font-size: 28px;
      font-weight: 300;
    }

    span.link {
      width: max-content;
      font-size: 16px;
      color: #4054B2;
      border-bottom: 1px solid #5496DD;
      cursor: pointer;
    }

    .link {
      text-decoration: none;
    }

    .percentage {
      display: flex;
      align-items: center;
      font-size: 18px;

      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }

    .icon {
      font-size: 38px;
      padding: 5px;
      border-radius: 5px;
      align-self: flex-end;
    }
  }
}