.widget {
  border-top: var(--three) solid var(--lightblue);
  border-bottom: var(--three) solid var(--lightblue);
  display: flex;
  flex: 1;
  padding: var(--ten);
  justify-content: space-between;
  -webkit-box-shadow: var(--two) calc(var(--two) + var(--two)) var(--ten) var(--one) rgba(0,0,0,.47);
  box-shadow: var(--two) calc(var(--two) + var(--two)) var(--ten) var(--one) rgba(201,201,201,.47);
  border-radius: var(--ten);
  height: calc(var(--hundred) + var(--fifty));
  background-color: var(--white);
}

.left, .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.widget .left .title, .widget .right .title {
  font-weight: bold;
  font-size: 17px;
  color: var(--gray);
}

.widget .left .counter, .widget .right .counter {
  font-size: 28px;
  font-weight: 300;
}

.widget .left span.link, .widget .right span.link {
  width: max-content;
  font-size: 16px;
  color: var(--blue);
  border-bottom: var(--one) solid var(--lightblue);
  cursor: pointer;
}

.widget .left .link, .widget .right .link { text-decoration: var(--none); }

.widget .left .percentage, .widget .right .percentage {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.widget .left .percentage.positive, .widget .right .percentage.positive { color: var(--green); }
.widget .left .percentage.negative, .widget .right .percentage.negative { color: var(--red); }

.widget .left .icon, .widget .right .icon {
  font-size: 38px;
  padding: var(--five);
  border-radius: var(--five);
  align-self: flex-end;
}